* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.delete__form .ant-modal-title{
    font-size: 20px;
    color: rgb(169, 199, 224);
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px solid rgba(179, 177, 180, 0.715);
}
.edit__form form,
.add__form form {
    margin-top: 20px;
}
.add__form .ant-modal-title{
    font-size: 20px;
    color: rgb(169, 199, 224);
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px solid rgba(179, 177, 180, 0.715);
}
.menu__sidebar  {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    max-height: 100vh;
    overflow-y: auto;
}
.menu__sidebar::-webkit-scrollbar {
    display: none;
}
.aside__bar {
    width: max-content !important;
    flex: none !important;
    min-width: fit-content;
}