.form__title {
    font-size: 20px;
    color: rgb(169, 199, 224);
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px solid rgba(179, 177, 180, 0.715);
}